.conteudo__secao__comprar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #6B00A1;
}

.secao__comprar__titulo{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 43px;
    text-align: center;
}

.container__valores{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 2rem;
    margin-bottom: 1rem;
}

.card__valores{
    width: 20%;
}

.card__valores:hover{
    transform: scale(1.2);
}

.card__valores__imagem{
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container__valores{
        width: 95%;
    }
}

/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .container__valores{
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .card__valores{
        width: 90%;
    }
}