.conteudo__secao__satisfacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao__satisfacao__titulo{
    color: #353535;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 43px;
    text-align: center;
    width: 40%;
}

.secao__satisfacao__imagem{
    width: 25%;
}

.secao__satisfacao__texto{
    color: #2B2B2B;
    font-size: 1.06rem;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
}

.secao__satisfacao__texto__strong{
    font-weight: 800;
}

.secao__ia__texto__satisfacao {
    margin-top: -0.5rem;
    color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .secao__satisfacao__titulo{
        width: 85%;
    }

    .secao__satisfacao__imagem{
        width: 35%;
    }
}

/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .secao__satisfacao__titulo{
        width: 95%;
    }

    .secao__satisfacao__imagem{
        width: 45%;
    }
}