.conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1% 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .conteudo{
        padding: 10% 0;
    }
}

/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    
}