.conteudo__introducao{
    display: flex;
    justify-content: center;
    width: 100%;
}

.introducao__textos{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.introducao__textos__titulo{
    text-transform: uppercase;
    color: #6B00A1;
    font-size: 2rem;
    font-weight: 800;
    line-height: 43px;
    text-align: center;
}

.introducao__textos__subtitulo{
    text-transform: uppercase;
    color: #9C00EC;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: center;
}

.introducao__textos__beneficios{
    font-size: 1.05rem;
    text-align: center;
    font-weight: 400;
}

.introducao__imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.introducao__imagem img{
    width: 42%;
}

.imagem__subtitulo{
    color: #9C00EC;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
    text-align: center;
}

.imagem__nome{
    color: #9C00EC;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
}

/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .conteudo__introducao{
        flex-direction: column;
        align-items: center;
    }

    .introducao__textos{
        width: 95%;
    }

    .introducao__imagem{
        width: 95%;
    }

    .introducao__imagem img{
        width: 68%;
    }
}